<nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand">
        <img src="/images/tecnologia.png" alt="Logo" class="navbar-logo">
    </a>
    <button title="btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/libros" routerLinkActive="active">Libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/productos" routerLinkActive="active">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/taxonomia" routerLinkActive="active">Taxonomía de las plantas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">Acerca de...</a>
            </li>
        </ul>
    </div>
</nav>