<div style="margin: 20px; text-align: center;">
    <h1>Catálogo de Productos 🧃</h1>

    <div class="card mx-auto">
        <h4 >Alta de Productos</h4>
        <div class="col-sm-12">
            <p>
                <label>Descripción</label>
                <input type="text" class="form-control" placeholder="Descripción" [(ngModel)]="producto.descripcion" />
            </p>
            <p>
                <label>Precio</label>
                <input type="text" class="form-control" placeholder="Precio" [(ngModel)]="producto.precio" />
            </p>
        </div>
        <div class="d-flex justify-content-between flex-wrap mt-3">
            <button type="button" class="btn btn-primary m-1" (click)="this.insertarProducto()">Insertar</button>
            <button type="button" class="btn btn-success m-1" (click)="this.updateProducto()">Modificar</button>
            <button type="button" class="btn btn-warning m-1" (click)="this.clearproducto()">Limpiar</button>
            <button type="button" class="btn btn-danger m-1" (click)="this.deleteProducto()">Eliminar</button>
        </div>
    </div>

    <hr />
    <br>

    @if(productos.length>0){
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @for (producto of productos; track producto.id) {
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.descripcion}}</td>
                <td>$ {{producto.precio}}</td>
                <td><button type="button" class="btn btn-success"
                        (click)="this.selectProducto(producto)">Seleccionar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }@else{
    <h3>No hay productos</h3>
    }
</div>