<div style="margin: 20px; text-align: center;">
    <h1>Catálogo de Libros 📚</h1>

    <div class="card mx-auto" style="width: 50%; padding: 20px;">
        <h4>Alta de libros</h4>
        <div class="col-sm-12">
            <p>
                <label>Título del libro</label>
                <input type="text" class="form-control" placeholder="Titulo del libro" [(ngModel)]="libro.titulo" />
            </p>
            <p>
                <label>Autor del libro</label>
                <input type="text" class="form-control" placeholder="Autor del libro" [(ngModel)]="libro.autor" />
            </p>
            <p>
                <label>Editorial del libro</label>
                <input type="text" class="form-control" placeholder="Editorial del libro"
                    [(ngModel)]="libro.editorial" />
            </p>
            <p>
                <label>Año de publicación del libro</label>
                <input type="text" class="form-control" placeholder="Año " [(ngModel)]="libro.anioPublicacion" />
            </p>
        </div>
        <div class="d-flex justify-content-between flex-wrap mt-1">
            <button type="button" class="btn btn-primary m-1" (click)="this.insertarLibro()">Insertar</button>
            <button type="button" class="btn btn-warning m-1" (click)="this.updateLibro()">Actualizar</button>
            <button type="button" class="btn btn-danger m-1" (click)="this.deleteLibro()">Borrar</button>
            <button type="button" class="btn btn-success m-1" (click)="this.clearLibro()">Limpiar</button>
        </div>
    </div>

    <hr />
    <br>

    <h4>Listado de libros</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Año publicación</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            @for (libro of libros; track libro.id)
            {
            <tr>
                <td>{{libro.titulo}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.editorial}}</td>
                <td>{{libro.anioPublicacion}}</td>
                <td>
                    <button type="button" class="btn btn-success" (click)="selectLibro(libro)">Seleccionar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>